@{
    ViewData["Title"] = "Home Page";
}
@model ProjectX.ViewModels.Workers;
<!DOCTYPE html>
<html>
<style>
    .mydiv {
        position: absolute;
        z-index: 9;
        background-color: #f1f1f1;
        text-align: center;
        border: 1px solid #d3d3d3;
        width: 20%;
        cursor: move;
    }

    #mydivheader {
        padding: 10px;
        cursor: move;
        z-index: 10;
        background-color: #2196F3;
        color: #fff;
    }

    .vl {
        border-left: 6px solid green;
        height: 500px;
        position: absolute;
        left: 20%;
        margin-left: -3px;
        top: 0;
    }

    .v2 {
        border-left: 6px solid green;
        height: 500px;
        position: absolute;
        left: 40%;
        margin-left: -3px;
        top: 0;
    }

    .v3 {
        border-left: 6px solid green;
        height: 500px;
        position: absolute;
        left: 60%;
        margin-left: -3px;
        top: 0;
    }

    .v4 {
        border-left: 6px solid green;
        height: 500px;
        position: absolute;
        left: 80%;
        margin-left: -3px;
        top: 0;
    }

    .sidenav {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        visibility: hidden;
    }
</style>
<body onmousemove="mouse_position(event)">
    @{
    var workersList = Model;
    }
    <div class="main">
        <div class="vl"></div>
        <div class="v2"></div>
        <div class="v3"></div>
        <div class="v4"></div>

        <div id="-1" class="mydiv" onmouseenter="startDraging(-1)">
            <p>Jan Kowalski</p>
            <p>Jakieś add info</p>
        </div>

        <div id="mySidenav" class="sidenav">
            <table>
                <tr><th>Workers List</th></tr>
                @for (var i = 0; i < Model.WorkersData.Count; i++)
                {
                <tr>
                    <td>
                        <div id="@i" onmouseenter="startDraging(@i)" class="mydiv">
                            <p>@Model.WorkersData[i].Name @Model.WorkersData[i].Surname</p>
                            <p>@Model.WorkersData[i].Position</p>
                        </div>
                    </td>
                </tr>
                }
            </table>

        </div>


    </div>
    <script>
        //Make the DIV element draggagle:
        document.addEventListener('mousemove', onMouseUpdate, false);
        document.addEventListener('mouseenter', onMouseUpdate, false);
        function startDraging(id) {
            dragElement(document.getElementById(id), id);
            console.log("Yes1");
        }

    function dragElement(elmnt, save_id) {
            console.log("Yes2");
            var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
            if (document.getElementById(elmnt.id + "header")) {
                document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
            } else {
                elmnt.onmousedown = dragMouseDown;
            }

            function dragMouseDown(e) {
                e = e || window.event;
                e.preventDefault();
                // get the mouse cursor position at startup:
                pos3 = e.clientX;
                pos4 = e.clientY;
                document.onmouseup = closeDragElement;
                // call a function whenever the cursor moves:
                document.onmousemove = elementDrag;
            }

            function elementDrag(e) {
                e = e || window.event;
                e.preventDefault();
                // calculate the new cursor position:
                pos1 = pos3 - e.clientX;
                pos2 = pos4 - e.clientY;
                pos3 = e.clientX;
                pos4 = e.clientY;
                // set the element's new position:
                elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
            }

            function closeDragElement(e) {
                /* stop moving when mouse button is released:*/
                e = e || window.event;
                e.preventDefault();

                pos1 = pos3 - e.clientX;
                if (elmnt.offsetLeft - pos1 < 0) {
                    elmnt.style.left = getWidth() * 0 + "px";
                }
                if ((elmnt.offsetLeft - pos1 >= 0) && (elmnt.offsetLeft - pos1 <= getWidth() * 0.10)) {
                    elmnt.style.left = getWidth() * 0 + "px";
                }
                if ((elmnt.offsetLeft - pos1 > getWidth() * 0.10) && (elmnt.offsetLeft - pos1 <= getWidth() * 0.3)) {
                    elmnt.style.left = getWidth() * 0.2 + "px";
                }
                if ((elmnt.offsetLeft - pos1 > getWidth() * 0.3) && (elmnt.offsetLeft - pos1 <= getWidth() * 0.5)) {
                    elmnt.style.left = getWidth() * 0.4 + "px";
                }
                if ((elmnt.offsetLeft - pos1 > getWidth() * 0.5) && (elmnt.offsetLeft - pos1 <= getWidth() * 0.7)) {
                    elmnt.style.left = getWidth() * 0.6 + "px";
                }
                if ((elmnt.offsetLeft - pos1 > getWidth() * 0.7) && (elmnt.offsetLeft - pos1 <= getWidth() * 0.9)) {
                    elmnt.style.left = getWidth() * 0.8 + "px";
                }

                document.onmouseup = null;
                document.onmousemove = null;
                elmnt.style.visibility = "visible";
                document.getElementsByClassName("main")[0].appendChild(document.getElementById(save_id));

                
            }


        }

        function getWidth() {
            return Math.max(
                document.body.scrollWidth,
                document.documentElement.scrollWidth,
                document.body.offsetWidth,
                document.documentElement.offsetWidth,
                document.documentElement.clientWidth
            );
        }

        function getHeight() {
            return Math.max(
                document.body.scrollHeight,
                document.documentElement.scrollHeight,
                document.body.offsetHeight,
                document.documentElement.offsetHeight,
                document.documentElement.clientHeight
            );
        }

        function onMouseUpdate(e) {
            x = e.pageX;
            y = e.pageY;
            if (x < getWidth() * 0.01) {
                openNav();
            }
            if (x > 250) {
                closeNav();
            }

        }

    function openNav() {
        document.getElementById("mySidenav").style.visibility = "visible";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.visibility = "hidden";
        }

    </script>

</body>
</html>
